# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [19]:
import pandas as pd
import numpy as np

# Seu código aqui



ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

anoSerie = pd.Series(ano)
anomalia_termicaSerie = pd.Series(anomalia_termica)

#### 2) Coloque os anos nos índices conforme a tabela.

In [20]:

# seu código aqui
anomalia_termica_ano = pd.Series(data=anomalia_termica, index=ano)
anomalia_termica_ano

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [21]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSerie = pd.Series(dic_temperaturas)
temperaturasSerie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [28]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0   106.469358   93.397612  110.311410
1    96.199407   97.836333  115.578273
2   105.341406  125.868197  110.735400
3   100.280031   86.175540  101.188250
4   106.835673  104.616266   95.648754
5    94.860187   96.265540  102.486551
6   108.649975  100.249764   93.718086
7    78.513622   84.128687  102.897397
8   101.970861   97.560415   88.664737
9   101.791854   88.304750   88.889204
10  111.345539   96.378320  100.143397
11  101.610743   97.925778  117.686708
12   84.423776   75.191913  108.863347
13   99.783219  125.413761  111.453542
14  107.702673  107.280136  100.994789
15  102.371196   99.833570   83.725011
16   99.724861  108.308473  101.078520
17   98.011622  101.207222  100.654361
18   99.307589  106.646958  102.077449
19   96.743849  114.739662  103.874529

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [37]:
#seu código aqui

arrDataFrame = arrDataFrame.rename(columns={0: 'x1', 1: 'x2', 2: 'x3'})
arrDataFrame.index = list(range(1,21))
arrDataFrame

            x1          x2          x3
1   106.469358   93.397612  110.311410
2    96.199407   97.836333  115.578273
3   105.341406  125.868197  110.735400
4   100.280031   86.175540  101.188250
5   106.835673  104.616266   95.648754
6    94.860187   96.265540  102.486551
7   108.649975  100.249764   93.718086
8    78.513622   84.128687  102.897397
9   101.970861   97.560415   88.664737
10  101.791854   88.304750   88.889204
11  111.345539   96.378320  100.143397
12  101.610743   97.925778  117.686708
13   84.423776   75.191913  108.863347
14   99.783219  125.413761  111.453542
15  107.702673  107.280136  100.994789
16  102.371196   99.833570   83.725011
17   99.724861  108.308473  101.078520
18   98.011622  101.207222  100.654361
19   99.307589  106.646958  102.077449
20   96.743849  114.739662  103.874529

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [43]:
# seu código aqui
arrDataFrame['media'] = arrDataFrame[['x1', 'x2', 'x3']].mean(axis=1)
arrDataFrame

            x1          x2          x3       media
1   106.469358   93.397612  110.311410  103.392793
2    96.199407   97.836333  115.578273  103.204671
3   105.341406  125.868197  110.735400  113.981668
4   100.280031   86.175540  101.188250   95.881274
5   106.835673  104.616266   95.648754  102.366898
6    94.860187   96.265540  102.486551   97.870759
7   108.649975  100.249764   93.718086  100.872608
8    78.513622   84.128687  102.897397   88.513235
9   101.970861   97.560415   88.664737   96.065338
10  101.791854   88.304750   88.889204   92.995269
11  111.345539   96.378320  100.143397  102.622419
12  101.610743   97.925778  117.686708  105.741076
13   84.423776   75.191913  108.863347   89.493012
14   99.783219  125.413761  111.453542  112.216841
15  107.702673  107.280136  100.994789  105.325866
16  102.371196   99.833570   83.725011   95.309925
17   99.724861  108.308473  101.078520  103.037285
18   98.011622  101.207222  100.654361   99.957735
19   99.307589  106.646958  102.077449  102.677332
20   96.743849  114.739662  103.874529  105.119347

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [44]:
# seu código aqui

arrDataFrame['log_med'] = np.log(arrDataFrame['media'])
arrDataFrame

            x1          x2          x3       media   log_med
1   106.469358   93.397612  110.311410  103.392793  4.638535
2    96.199407   97.836333  115.578273  103.204671  4.636714
3   105.341406  125.868197  110.735400  113.981668  4.736038
4   100.280031   86.175540  101.188250   95.881274  4.563111
5   106.835673  104.616266   95.648754  102.366898  4.628563
6    94.860187   96.265540  102.486551   97.870759  4.583648
7   108.649975  100.249764   93.718086  100.872608  4.613858
8    78.513622   84.128687  102.897397   88.513235  4.483152
9   101.970861   97.560415   88.664737   96.065338  4.565029
10  101.791854   88.304750   88.889204   92.995269  4.532549
11  111.345539   96.378320  100.143397  102.622419  4.631056
12  101.610743   97.925778  117.686708  105.741076  4.660993
13   84.423776   75.191913  108.863347   89.493012  4.494161
14   99.783219  125.413761  111.453542  112.216841  4.720433
15  107.702673  107.280136  100.994789  105.325866  4.657059
16  102.371196   99.833570   83.725011   95.309925  4.557134
17   99.724861  108.308473  101.078520  103.037285  4.635091
18   98.011622  101.207222  100.654361   99.957735  4.604747
19   99.307589  106.646958  102.077449  102.677332  4.631591
20   96.743849  114.739662  103.874529  105.119347  4.655096